/*Elements*/
body{
    background-color:#3498db;
    color:#ecf0f1;
    font-family: 'Roboto Slab', serif;
    
}
h1{
    font-size: 30px;
}
.head{
    font-family: 'Bungee Shade', cursive;
    font-size: 110px;
    text-shadow: 3px 4px 15px #2c3e50;
    padding-top: 10%;
    padding-bottom:20%;
}
.about{
    background:#2c3e50;
    padding-top:5%;
    padding-bottom:25%;
    }
.nav{
    background:#e74c3c; 
}
