.theme{
    background:url("banner.jpg");
    color:#c0c0c0;
    text-align: center;
}
   
.stripe{
    background:#666666;
    color:green;
}
a:link ,a:active, a:hover, a:visited {
    color:white;
    text-decoration: none;
    font-weight: bold;
    margin-bottom:0px;
}
.bar{
    background:#666666;
    height:50px;
    width:100%;
}
