<<<<<<< HEAD
body{
    overflow-y: hidden ! important;
    overflow-x: hidden ! important;
    background: url('assets/1.2.jpg') no-repeat;
    background-size:cover;
    font-family: 'Montserrat', sans-serif; 
    color:white;

}
#todo-list{

}
.lemon{
    font-family: 'BioRhyme', serif;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;  
}
#clock{
    font-size:300px;
=======
body{
    overflow-y: hidden ! important;
    overflow-x: hidden ! important;
    background: url('assets/1.jpg') no-repeat;
    background-size:cover;
    font-family: 'Montserrat', sans-serif; 
    color:white;

}
#todo-list{

}
.lemon{
    font-family: 'BioRhyme', serif;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;  
}
#clock{
    font-size:300px;
>>>>>>> 6473320cdca5b94b5cacdf361cd93bd86930094f
}