body{
  background:url(https://i.ytimg.com/vi/CdrPDfypTOQ/maxresdefault.jpg);
   background-attachment: fixed;
   /*background-position: center; */
   background-size: 100%;
   /*width:100%;
   height: 100%;*/

}

.list-group-item{
 background:#0b4e8c; 
 color:white;
 margin:5px;
 font-size: 20px;
 /*padding:5px;*/
}
.jumbotron{
    background: white;
}
.lrg{
    font-size:18px;
}