body{
  background: url("https://images.alphacoders.com/217/217481.jpg");
  background-size: cover;
}

.stage{
  display:flex;
  align-items: center;
  justify-content: space-around;
}
.player{
  display: flex;
}

img.invert {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

h1{
  color: #fff;
  margin: 20px;
  padding: 35px;
  text-align: center;
}

.dummy{
  background: url(C:\source\projects\slap-game\jh.png) no-repeat;
  position: absolute;
  bottom: 20px;
  left: 48%;
  height: 130px;
}
.dummyhalf{
  background: url(https://natakin2016.github.io/scarecrow.png) no-repeat;
  position: absolute;
  bottom: 20px;
  left: 48%;
  height: 130px;
}